:root {
    --widthSlider: 30rem;
    --heightSlider: 30rem;
}

.container {
 background-color: slategrey;
}

.wrapper {
    width: 60rem;
    margin-left: auto;
    margin-right: auto;
}

.slider-wrapper {
    display: inline-block;
    /* float: left; */
}
.slide1 {
    float: left;
    width: var(--widthSlider);
    height: var(--heightSlider);
    background: no-repeat center/80% url(../cssMemSlider/assets/photo_2022-05-02_20-33-58.jpg);
}
.slide2 {
    width: var(--widthSlider);
    height: var(--heightSlider);
    background: no-repeat center/80% url(../cssMemSlider/assets/photo_2022-05-05_17-54-21.jpg);
}
.slide3 {
    width: var(--widthSlider);
    height: var(--heightSlider);
    background: no-repeat center/80% url(../cssMemSlider/assets/photo_2022-05-06_22-58-03.jpg);
}
.slide4 {
    width: var(--widthSlider);
    height: var(--heightSlider);
    background: no-repeat center/80% url(../cssMemSlider/assets/photo_2022-05-09_21-45-13.jpg);
}

.navigation label div {
    width: 1.5rem;
    height: 1.5rem;
    border-radius: 50%;
    background-color: lightskyblue;

    /* border: 0.1rem solid blue; */
}
.navigation label {
    padding-left: 0.5rem;
    padding-top: 0.5rem;
    cursor: pointer;
    height: 2rem;
    width: 2rem;
    border-radius: 50%;
    display: inline-block;
}
.navigation label:hover > div {
    background-color: white;

}

/* input {

} */